---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			.post {
				padding-bottom: 2rem;
			}
		</style>
	</head>
	<body>
		<main>
			<h1>Server-1 Blog</h1>
			<section>
					{
						posts.map((post) => (
							<div class="post">
								<a href={`/blog/${post.slug}/`}>
									{post.data.title}
								</a>
								<div>
								 <FormattedDate date={post.data.pubDate} />
								</div>
							</div>
						))
					}
			</section>
		</main>
	</body>
</html>
