---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import Layout from "./Layout.astro";

type Props = CollectionEntry<'blog'>['data'];
const { title, description, pubDate, updatedDate } = Astro.props;
---

<Layout title={title} description={description}>
	<!-- class="prose sm:prose-base md:prose-lg lg:prose-xl xl:prose-2xl" -->
	<article>
		<div>
			<div>
				<div>
					<FormattedDate date={pubDate} />
					{
						updatedDate && (
							<div class="last-updated-on">
								Last updated on <FormattedDate date={updatedDate} />
							</div>
						)
					}
				</div>
				<h1>{title}</h1>
				<hr />
			</div>
			<slot />
		</div>
	</article>
</Layout>